@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, #c4daea, #647d90);
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    height: 110px; 
    background-color: #485E71; 
    color: #fff;
    padding: 0 10px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.form-button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

.form-button:hover {
    background: #0097a7;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    height: 100%;
    padding: 0 20px;
}

.navbar .menu-btn {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    margin-right:20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 100px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
}

.navbar .login-btn {
    position: relative;
    margin-left: 20px;
    display: flex;
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #cecece;
}

.carousel-container {
    background-color: #597085; 
    padding: 20px 20px 10px;
    max-width: 500px;
    margin: 150px auto 20px; 
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-caption {
    text-align: center;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%; 
    z-index: 5;
    transition: background-color 0.3s ease;
    font-size: 24px; 
    color: #ffffff; 
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Mobile Menu */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #5a7389;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 100;
    list-style: none;
}

.nav-links.show-menu {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #cdcdcd;
    text-shadow: 0 0 10px rgba(4, 29, 67, 0.8);
}

/* Mobile Styles */
@media (max-width: 899px) {
    .navbar :is(.menu-btn, .close-btn) {
        display: block;
    }

    .navbar .logo img {
        width: 50px; 
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }

    header { 
        height: 80px;
    }

    .form-popup {
        width: 95%;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }

    .nav-links.show-menu {
        display: flex; 
    }

    .menu-btn {
        cursor: pointer;
        font-size: 32px;
        display: block; 
        color: #fff;
    }

    .container {
        background-color: #ffffff;
        border: 2px solid #e2e2e2;
        border-radius: 15px;
        padding: 20px;
        width: 80vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    #imageCanvas {
        border-radius: 15px;
        width: 70vw;
        height: auto;
    }
}

@media (min-width: 900px) {
    .menu-btn {
        display: none; 
    }

    .nav-links {
        display: flex; 
        flex-direction: row;
        position: static;
        box-shadow: none;
        background: none;
        width: auto;
    }

    .nav-links li {
        margin: 0 15px;
        list-style: none;
    }

    .container {
        background-color: #ffffff;
        border: 2px solid #e2e2e2;
        border-radius: 15px;
        padding: 20px;
        width: 40vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    #imageCanvas {
        border-radius: 15px;
        width: 45vw;
        height: auto; 
        }
    
}

/* LOGIN - SIGNUP */
input {
    width: 100%;
    padding: 12px 12px 12px 40px; 
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px; 
}

.input-container {
    position: relative; 
}

.input-container .material-icons {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: gray;
    font-size: 24px;
    background: none;
    pointer-events: none; 
}

.input-container input:focus {
    outline: none;
    border-color: #007bff; 
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; 
}

.reg, .psw {
    font-size: 12px;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center; /* Centra el contenedor principal horizontalmente */
    align-items: center; /* Centra el contenedor principal verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.body-container {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido hacia la parte superior */
    align-items: flex-start; /* Alinea el contenido hacia la parte superior */
    flex-direction: column;
    padding-top: 100px; /* Agrega un padding superior para el espacio deseado */
}

/* EDIT PROFILE */

.edit-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
}
.edit-title {
    font-family:'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px;
    text-align: center;
}
.edit-label {
    flex: 0 0 120px; /* Ancho fijo para la etiqueta */
    text-align: left;
    font-size: 14px;
    font-weight: bold; /* Negrita para resaltar la etiqueta */
    background-color: #f0f0f0; /* Fondo gris */
    padding: 15px; /* Espaciado interno para la etiqueta */
    border-top-left-radius: 5px; /* Redondear esquinas superiores */
    border-bottom-left-radius: 5px; /* Redondear esquinas inferiores */
}
.form-control {
    flex: 1; /* Rellenar el espacio restante */
    border: none; /* Sin borde en el campo de entrada */
    padding: 10px;
    border-top-right-radius: 5px; /* Redondear esquina superior derecha */
    border-bottom-right-radius: 5px; /* Redondear esquina inferior derecha */
    background-color: #fff; /* Fondo blanco para el input */
}
.form-control:focus {
    outline: none; /* Quitar el borde azul al enfocar */
    box-shadow: none;
}