{# templates/image/upload.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Cargar Imagen{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div>
            <h1 style="text-align: center;">Cargar Imagen</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div style="text-align: center;">
                    <button type="submit">Cargar</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}