{% extends 'base.html.twig' %}

{% block title %}ELISATester{% endblock %}

{% block body %}
<!-- Carrusel -->
<div class="carousel-container">
    <div class="carousel-caption"></div>
    <div class="carousel">
        <button class="carousel-btn prev" id="prev-btn">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="carousel-inner">
            <div class="carousel-item active" data-text="Carga tu imagen">
                <img data-src="images/firstgif.gif" alt="Image 1" class="lazy-load">
            </div>
            <div class="carousel-item" data-text="Selecciona los pocillos de interés">
                <img data-src="images/secondgif.gif" alt="Image 2" class="lazy-load">
            </div>
            <div class="carousel-item" data-text="Consulta tus resultados">
                <img data-src="images/thirdgif.gif" alt="Image 3" class="lazy-load">
            </div>
        </div>
        <button class="carousel-btn next" id="next-btn">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
    <div class="instructions-container">
        <a href="{{ path('app_image_upload') }}" class="index-button" id="new-test-button">Cargar un nuevo test</a>
        <button id="disclaimer" class="info-button">
            <span class="material-icons">info</span>
        </button>
    </div>    
</div>

<!-- Modal -->
<div id="modal-disclaimer" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000; justify-content: center; align-items: center;">
    <div style="background: white; width: 70%; max-height: 60%; padding: 20px; border-radius: 8px; position: relative; text-align: center; overflow-y: auto;">
        <h2>Instrucciones</h2>
        <br>
        <p style="text-align: left;">Esta aplicación está desarrollada específicamente para el análisis de Test ELISA para detectar la enfermedad de Leishmaniasis.</p>
        <p style="text-align: left;">El funcionamiento correcto de la aplicación se encuentra ligado al cumplimiento estricto de los siguientes requisitos:</p>
        <p style="text-align: left;">- La foto de la placa se debe realizar sobre un fondo blanco.</p>
        <p style="text-align: left;">- La foto debe tomarse con el celular o cámara paralelo a la placa con una distancia de entre 35cm y 50cm.</p>
        <p style="text-align: left;">- La resolución de la foto resultante debe ser de al menos 512x512px.</p>
        <p style="text-align: left;">- La foto debe tomarse con iluminación uniforme, ya sea de carácter natural o artificial.</p>
        <br>
        <button id="closeModalDisclaimer" type="button" class="form-button">Cerrar</button>
    </div>
</div>

<div class="blur-bg-overlay"></div>
{% endblock %}
