{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 110vh; flex-direction: column;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 custom-form-container">
                <div class="custom-card p-4 mt-4">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('app_login') }}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input type="text" name="email" id="email" class="form-control" value="{{ last_username }}" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>

                        <button type="submit" class="custom-button" style="margin-top: 20px;">Iniciar sesión</button>
                    </form>

                    <div class="form-label"> 
                        <p class="texto-blanco">¿No tienes una cuenta? <strong><a href="{{ path('app_new_user') }}" class="text-white">Registrarse</a></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
