{% extends 'base.html.twig' %}

{% block title %}Cargar Imagen{% endblock %}

{% block body %}
    <h1>AAAAAAAAA</h1>
    <h1>AAAAAAAAA</h1>
    <h1>AAAAAAAAA</h1>
    <h1>AAAAAAAAA</h1>
    <h1>AAAAAAAAA</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
