<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Círculos Interactivos</title>
    
</head>
<body>
    <div class="container">
        <div id="rectangle">
            {% set rows = 8 %}
            {% set columns = 12 %}
            {% for row in 1..rows %}
                {% for col in 1..columns %}
                    <div class="circle"></div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script>
    document.querySelectorAll('.circle').forEach(circle => {
        circle.addEventListener('click', function() {
            // Obtener el color de fondo calculado
            let currentColor = window.getComputedStyle(this).backgroundColor;

            // Comparar el color y cambiar el fondo
            if (currentColor === 'rgba(255, 0, 0, 0.46)') {  // rojo con opacidad
                this.style.backgroundColor = 'rgba(51, 185, 11, 0.56)'; // verde con opacidad
            } else {
                this.style.backgroundColor = 'rgba(255, 0, 0, 0.46)'; // rojo con opacidad
            }
        });
    });
    </script>
</body>
</html>
