{% extends 'base.html.twig' %}

{% block title %}Lista de Tests{% endblock %}

{% block body %}
<div>
    <section class="test-list-section">
        <h1>Lista de Pruebas ELISA</h1>
        <ul>
            <li>Prueba 1</li>
            <li>Prueba 2</li>
            <li>Prueba 3</li>
            <li>Prueba 3</li>
            <li>Prueba 3</li>
            <li>Prueba 3</li>
            <!-- Aquí añades más elementos de tu lista -->
        </ul>
    </section>
</div>
{% endblock %}