@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, #c4daea, #647d90);
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    height: 110px; 
    background-color: #485E71; 
    color: #fff;
    padding: 0 10px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.form-button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0;
    background: #75a7c4;
    transition: 0.2s ease;
}

.form-button:hover {
    background: #5294bb;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    height: 100%;
    padding: 0 20px;
}

.navbar .menu-btn {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    margin-right:20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 100px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
}

.navbar .login-btn {
    position: relative;
    margin-left: 20px;
    display: flex;
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #cecece;
}

/*USUARIO CUANDO ESTÁ LOGEADO*/
/* Contenedor del menú de usuario */
.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #fff; /* Cambia según tu diseño */
    font-weight: bold;
}

/* Ícono de desplegable */
.user-menu .material-symbols-rounded {
    font-size: 20px;
    vertical-align: middle;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 100%; /* Debajo del nombre */
    right: 0;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    display: none; /* Oculto por defecto */
    z-index: 10;
    min-width: 150px;
}

/* Clase para mostrar el menú */
#user-dropdown-menu.show {
    display: block;
}

/* Cada elemento del menú */
.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

/* Carrusel*/

.carousel-container {
    background-color: #597085; 
    padding: 20px 20px 10px;
    max-width: 500px;
    margin: 150px auto 20px; 
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.carousel-caption {
    text-align: center;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%; 
    z-index: 5;
    transition: background-color 0.3s ease;
    font-size: 24px; 
    color: #ffffff; 
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Mobile Menu */
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #5a7389;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 100;
    list-style: none;
}

.nav-links.show-menu {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #cdcdcd;
    text-shadow: 0 0 10px rgba(4, 29, 67, 0.8);
}

/* Mobile Styles */
@media (max-width: 899px) {
    .navbar :is(.menu-btn, .close-btn) {
        display: block;
    }

    .navbar .logo img {
        width: 50px; 
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }

    header { 
        height: 80px;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }

    .nav-links.show-menu {
        display: flex; 
    }

    .menu-btn {
        cursor: pointer;
        font-size: 32px;
        display: block; 
        color: #fff;
    }

    .carga-container {
        background-color: #597085;
        border: 2px solid #486077;
        border-radius: 15px;
        padding: 20px;
        width: 80vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    .container {
        background-color: #ffffff;
        border: 2px solid #e2e2e2;
        border-radius: 15px;
        padding: 20px;
        width: 80vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    #imageCanvas {
        border-radius: 15px;
        width: 70vw;
        height: auto;
    }
}

@media (min-width: 900px) {
    .menu-btn {
        display: none; 
    }

    .nav-links {
        display: flex; 
        flex-direction: row;
        position: static;
        box-shadow: none;
        background: none;
        width: auto;
    }

    .nav-links li {
        margin: 0 15px;
        list-style: none;
    }

    .carga-container {
        background-color: #597085;
        border: 2px solid #486077;
        border-radius: 15px;
        padding: 20px;
        width: 40vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    .container {
        background-color: #ffffff;
        border: 2px solid #e2e2e2;
        border-radius: 15px;
        padding: 20px;
        width: 40vw;
        text-align: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }

    #imageCanvas {
        border-radius: 15px;
        width: 45vw;
        height: auto; 
        }
    
}

/* seleccionar pocillos*/
/* Contenedor envolvente */
.container2 {
    width: 60vw; /* 60% del ancho de la ventana */
    max-height: 60vh; /* Máximo 60% de la altura de la ventana */
    display: grid;
    grid-template-columns: repeat(12, 40px); /* 12 columnas de 50px cada una */
    grid-template-rows: repeat(8, 40px); /* 8 filas de 50px cada una */
    gap: 5px; /* Espaciado entre círculos */
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-y: auto;
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos de los círculos */
.circle {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.46); /* Color inicial rojo con opacidad */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    cursor: pointer;
}

/* LOGIN - SIGNUP */
input {
    width: 100%;
    padding: 12px 12px 12px 40px; 
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px; 
}

.input-container {
    position: relative; 
}

.input-container .material-icons {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: gray;
    font-size: 24px;
    background: none;
    pointer-events: none; 
}

.input-container input:focus {
    outline: none;
    border-color: #007bff; 
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; 
}

.reg, .psw {
    font-size: 12px;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 110vh; 
}

.body-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    padding-top: 100px; 
}

/* EDITAR PERFIL */

.edit-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}
.edit-title {
    font-family:'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px;
    text-align: center;
}
.edit-label {
    flex: 0 0 120px; 
    text-align: left;
    font-size: 14px;
    font-weight: bold; 
    background-color: #f0f0f0; 
    padding: 15px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
}
.form-control {
    flex: 1; 
    border: none; 
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}
.form-control:focus {
    outline: none; 
    box-shadow: none;
}

/* SECCIÓN DE RESULTADOS*/
/* Contenedor de items */
.resultados-container {
    background-color: #597085;
    border: 2px solid #486077;
    width: 60vw; 
    height: calc(60vh - 50px);
    margin-top: 20px;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espaciado entre items */
}

@media (max-width: 899px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .resultados-container {
        width: 80vw; 
    }
}

/* Tarjetas individuales */
.item-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item-card:hover {
    transform: scale(1.05); /* Efecto hover */
}

.item-card h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.item-card p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #666;
}

.item-card .btn {
    font-size: 0.8rem;
}

.d-flex {
    display: flex;
    justify-content: space-between; /* Asegura que los íconos estén a los extremos */
    width: 100%;
}

.d-flex a {
    display: inline-block;
    text-align: center;
}

.ml-auto {
    margin-left: auto; /* Empuja el segundo ícono hacia la derecha */
}

/* Contenedor principal que contiene tanto el buscador como los resultados */
.contenedor-principal {
    padding: 20px;  /* Espaciado general */
    margin: 0 auto; /* Centrado del contenedor */
}

/* Barra de búsqueda con ícono dentro */
.input-group {
    width: 100%;
    max-width: 400px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar el formulario */
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea verticalmente el ícono y el input */
}

/* Estilo para el ícono de la lupa */
.input-group-text {
    background-color: #ececec; /* Fondo suave para el ícono */
    border-radius: 25px 0 0 25px; /* Bordes redondeados a la izquierda */
    display: flex;
    align-items: center; /* Centra el ícono verticalmente */
    justify-content: center; /* Centra el ícono horizontalmente */
    height: 40px; /* Aseguramos que la altura del ícono sea la misma que el input */
    width: 40px; /* Ancho del ícono */
    font-size: 18px; /* Tamaño de la lupa */
    padding: 0; /* Eliminar cualquier relleno extra */
}

/* Estilo para el campo de texto */
.input-group .form-control {
    border-left: 0; /* Quitar borde izquierdo para que se conecte con el ícono */
    border-radius: 0 25px 25px 0; /* Bordes redondeados a la derecha */
    font-size: 16px; /* Tamaño de la fuente */
    padding-left: 10px; /* Espacio para el texto */
    height: 40px; /* Aseguramos que la altura sea la misma que el ícono */
    flex: 1; /* Hace que el campo de texto ocupe el espacio restante */
    margin: 0; /* Eliminar márgenes adicionales */
}

/* Estilo cuando el input tiene foco */
.input-group .form-control:focus {
    border-color: #007bff; /* Borde azul cuando tiene foco */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra alrededor */
    outline: none; /* Quitar contorno al hacer foco */
}

/* instrucciones */
.custom-button {
    background-color: #4788c1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background-color: rgb(57, 96, 138);
    transform: scale(1.03);
}

.custom-button:active {
    background-color: rgb(49, 87, 127);
}

.custom-button:focus {
    outline: none;
}

/* detalle de test*/
/* Imagen dentro de la tarjeta */
.custom-img {
    max-height: 40vh; /* Limita la altura máxima al 40% de la ventana */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    width: auto; /* Mantiene las proporciones horizontales */
    height: auto; /* Mantiene las proporciones verticales */
    object-fit: contain; /* Ajusta la imagen dentro del espacio disponible */
    margin: 15px; /* Espaciado */
    display: block; /* Centra la imagen dentro del contenedor */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

/* Contenedor para los botones */
.button-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre botones */
    align-items: center;
}

/* Estilos del botón de la izquierda */
.btn-left {
    background-color: #545454;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-left:hover {
    background-color: #484848;
}

/* Estilos del botón de la derecha */
.btn-right {
    display: flex;
    align-items: center;
    background-color: #6d9fc0;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-right:hover {
    background-color: #427595;
}

.pdf-icon {
    width: 20px;
    height: auto;
    margin-right: 8px; /* Espacio entre el icono y el texto */
}