
/* Contenedor envolvente */
.container2 {
    width: 60vw; /* 60% del ancho de la ventana */
    max-height: 60vh; /* Máximo 60% de la altura de la ventana */
    display: grid;
    grid-template-columns: repeat(12, 50px); /* 12 columnas de 50px cada una */
    grid-template-rows: repeat(8, 50px); /* 8 filas de 50px cada una */
    gap: 5px; /* Espaciado entre círculos */
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos de los círculos */
.circle {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.46); /* Color inicial rojo con opacidad */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    cursor: pointer;
}
