{% extends 'base.html.twig' %}

{% block title %}Carrusel - ELISATester{% endblock %}

{% block body %}
<!-- Carrusel -->
<div class="carousel-container">
    <div class="carousel">
        <button class="carousel-btn prev" id="prev-btn">
            <span class="material-icons">chevron_left</span>
        </button>
        <div class="carousel-inner">
            <div class="carousel-item active" data-text="Carga tu imagen">
                <img src="images/img-1.png" alt="Image 1">
            </div>
            <div class="carousel-item" data-text="Obten los resultados">
                <img src="images/img-2.png" alt="Image 2">
            </div>
            <div class="carousel-item" data-text="Consulta su informe">
                <img src="images/img-3.png" alt="Image 3">
            </div>
        </div>
        <button class="carousel-btn next" id="next-btn">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
    <div class="carousel-caption"></div>
</div>

<div class="blur-bg-overlay"></div>

<!-- Formularios de inicio de sesión y registro -->
<div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
    <div class="form-box login">
        <div class="form-content">
            <h2>Iniciar Sesión</h2>
            <form action="#">
                <div class="input-field">
                    <input type="text" required>
                    <label>Usuario</label>
                </div>
                <div class="input-field">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <a href="#" class="forgot-pass-link">¿Olvidaste tu contraseña?</a>
                <button type="submit">Iniciar Sesión</button>
            </form>
            <div class="bottom-link">
                ¿No tienes una cuenta?
                <a href="#" id="signup-link">Registrate</a>
            </div>
        </div>
    </div>

    <div class="form-box signup">
        <div class="form-content">
            <h2>Registrarse</h2>
            <form action="#">
                <div class="input-field">
                    <input type="text" required>
                    <label>Usuario</label>
                </div>
                <div class="input-field">
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="policy-text">
                    <input type="checkbox" id="policy">
                    <label for="policy">
                        Estoy de acuerdo con los
                        <a href="#" class="option">términos y condiciones</a>
                    </label>
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <div class="bottom-link">
                ¿Ya tienes una cuenta?
                <a href="#" id="login-link">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
